<div class="container">
  <div class="row">
    <div class="col-md-4">
      <br>
      <button 
        (click)="addNewQuiz()"
        class="btn btn-outline-primary"
        >
          Add New Quiz
      </button>
      <br>
      <br>
      <div class="list-group">
        <a
          [class.active] = "q === selectedQuiz"
          (click)="selectQuiz(q)" 
          href="#"
          *ngFor="let q of quizzes" 
          class="list-group-item list-group-item-action">
          {{ q.name }}
        </a>
      </div>
    </div>
    <div class="col-md-8" *ngIf="!selectedQuiz">
      <br>
      <div class="card">
        <div class="card-body">
          Select or add a new quiz...
        </div>
      </div>
    </div>
    <div class="col-md-8" *ngIf="selectedQuiz">
      <br>
      <button class="btn btn-outline-success">Save</button>
      <button class="btn btn-link">Cancel</button>
      <br>
      <br>
      <div class="card">  
        <div class="card-header">
          General
        </div>
        <div class="card-body">
          <input 
            type="text" 
            [(ngModel)]="selectedQuiz.name"
            class="form-control">
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">
          Questions
        </div>
        <div class="card-body">
          Coming soon!
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">
          Other
        </div>
        <div class="card-body">
          <button class="btn btn-outline-danger">Delete This Quiz</button>
        </div>
      </div>
    </div>
  </div>
</div>